{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span>
  <span class="base08">_</span>
  <span class="base09"></span>
  <span class="base0a">m</span>
  <span class="base0b">i</span>
  <span class="base0c">c</span>
  <span class="base0d">_</span>
  <span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ $baseurl }}img/base16-eighties.svg">
</div>

<div style="text-align: center;">
Uma página sobre visualizações.
</div>
<div style="text-align: center;">
<i>A page about visualizations. </i>
</div>
